# Telegram
TELEGRAM_BOT_TOKEN=8819333763:AAG-45wDwV0Dot7EKJmoryoDErb6_Sd9oAE
BOT_NAME=AgethaBot

# AI Provider: groq | gemini | cerebras
AI_PROVIDER=cerebras

# Groq (до 10 ключей для ротации)
GROQ_API_KEY=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GROQ_API_KEY_4=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
GROQ_API_KEY_5=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
GROQ_MODEL=3.1-70b-versatile

# Gemini
GEMINI_API_KEY=AQ.Ab8RN6KlIVD3pouvPZY0J8mBs3xy0b0xJykEbIN3O2jRV5rY1Q
GEMINI_MODEL=gemini-1.0-pro

# Cerebras (до 5 ключей для ротации)
CEREBRAS_API_KEY=csk-dwhd686y4jk4jyrjhdmt429vx68kjmt5j3cvvp8k84pjdkp2
CEREBRAS_API_KEY_2=csk-wejj4cr6rkh3jmmykvrcrv22fvf6ywemypwwe449pm36c3pt
CEREBRAS_MODEL=gpt-oss-120b

# Admins (через запятую)
ADMIN_IDS=1437756048

# Group settings
GROUP_CHAT_ENABLED=true
MENTION_REQUIRED=true
ALLOWED_TOPIC_ID=375283

# Anti-flood
ANTI_FLOOD_SECONDS=15
MAX_MESSAGES_PER_MINUTE=5
MAX_HISTORY=5
